.detail{
  @extend %cover;
  @extend %center;
  background: $color-quicksand;
  color: $color-quarter-spanish-white;
}
.detail__wrapper{
  display: flex;
  align-items: center;
}


.detail__media{
  height: 78.2rem;
  width: 55.4rem;
  position: relative;
}
.detail__media__image{
  @extend %cover;
  object-fit: cover;
}


.detail__information{
  padding-left: 8.2rem;
}
.detail__information__collection{
  @extend %description-12;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.detail__information__title{
  @extend %title-120;
  max-width: 60rem;
}
.detail__information__content{
  padding-left: 18rem;
}
.detail__information__highlights{
  margin-top: 6rem;
}
.detail__information__highlight{
  display: flex;
  align-items: center;

  &:not(:first-child){
    margin-top: 4rem;
  }
}


.detail__information__highlights__icon{
  height: 4rem;
  width: 4rem;
  margin-right: 3.75rem;

  //debug
  border: 1px solid currentColor;
  border-radius: 50%;
}
.detail__information__highlight__text{
  @extend %description-16;
  letter-spacing: 0.03rem;
}
.detail__information__list{
  margin-top: 4rem;
}


.detail__information__item{
  display: flex;

  &:not(:first-child){
    margin-top: 4rem;
  }
}
.detail__information__item__title{
  @extend %description-12;

  color: rgba($color-quarter-spanish-white, .4);
  padding-right: 2.5rem;
  width: 10rem;
}
.detail__information__item__description{
  @extend %description-16;

  max-width: 44rem;
}
.detail__information__link{
  @extend %title-30;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-right: auto;
  margin-top: 3rem;
  width: fit-content;

  &:before {
    content: '↗';
    font-family: $font-suisse-bp;
    font-weight: 100;
    margin-left: 1rem;
    margin-top: -0.2rem;
  }
}

.detail__information__highlight__icon {
  border-radius: 50%;
  height: 4rem;
  margin-right: 3.75rem;
  width: 4rem;

  @include media('<phone') {
    height: 9.2rem;
    margin-right: 5.8rem;
    width: 9.2rem;
  }
}
.detail__information__highlight__text {
  @extend %description-18;

  overflow: hidden;

  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.detail__button{
  @extend %center;
  width: 12.5rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  z-index: 2;

  span{
    @extend %description-14;
    text-transform: uppercase;
  }
}
.detail__button__icon{
  @extend %cover;
}
