*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html{
  @extend %cover;
  font-size: calc((100vw / 1920)*10);
  line-height: 1;

  background: $color-contessa;
  color: $color-quarter-spanish-white;

  position: fixed;
  overflow: hidden;

  @include media('<phone'){
    font-size: calc((100vw / 750)*10);
  }
}
body{
  @extend %cover;
  @extend %description-14;

  font-family: $font-suisse-bp, sans-serif;
  font-weight:300;
  position: fixed;
}

a{
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

canvas{
  position: relative;
  pointer-events: none;
  z-index: z('canvas')
}

button{
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.content{
  @extend %cover;
}
[data-animation="title"],
[data-animation="label"],
[data-animation="paragraph"]{
  span{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
