extends ../base.pug

block variables
  - var template = 'home'

block content
  h1.home__title Home

  a(href="/about") About page
  a(href="/collections") Collections page
  a(href="/detail/:id") Detail page
