.home {
  @extend %center;
  @extend %page;

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;
}

.home__wrapper {
  @extend %cover;

  &:before,
  &:after{
    content: '';
    height: 24rem;
    width: 100%;
    z-index: 1;

    position: absolute;
    left: 0;
  }

  &:before{
    background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    top: 0;
  }
  &:after{
    background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    bottom: 0;
  }
}

.home__titles {
  @extend %vertical-titles;
}

.home__titles__title {
  @extend %vertical-titles__title;
}

.home__titles__title__text {
  @extend %vertical-titles__title__text;
}


.home__titles__label {
  @extend %vertical-titles__label;
}

.home__titles__label__text {
  @extend %vertical-titles__label__text;
}

.home__gallery{
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  padding: 0 2.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  // for now
  visibility: hidden;

  @include media('<=phone') {
    padding: 0 1.5rem;
  }
}
.home__gallery__media{
  padding: 2.5rem;
  width: 20%;
}
.home__gallery__media__image{
  display: block;
  width: 100%;
}
.home__link {
  @extend %description-14;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  width: 28.8rem;
  height: 6rem;

  letter-spacing: 0.05rem;
  text-transform: uppercase;

  cursor: pointer;
  z-index: 2;

  span {
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }

  @include media('<phone') {
    width: 55rem;
    height: 13.7rem;
    bottom: 7.5rem;
  }
}

.home__link__icon {
  @extend %cover;
}
